*.[oa]
*.lo
.deps
*.orig
*.la
*.Po
*~
CreateOnDisk/src/CreateOnDiskPt
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.log
config.status
configure
lm/.deps/
lm/.libs/
util/.deps/
util/.libs/
lm/build_binary
lm/query
libtool
mert/.deps/
kenlm/build_binary
mert/Makefile
mert/Makefile.in
mert/evaluator
mert/extractor
mert/mert
misc/.deps/
mert/.libs/
misc/Makefile
misc/Makefile.in
misc/processLexicalTable
misc/processPhraseTable
misc/queryLexicalTable
mira/mira
misc/queryPhraseTable
moses-chart/src/.deps/
moses-chart-cmd/src/moses_chart
moses-cmd/src/.deps/
moses-cmd/src/Makefile
moses-cmd/src/Makefile.in
moses-cmd/src/checkplf
moses-cmd/src/lmbrgrid
moses-cmd/src/moses
moses/src/.deps/
moses/src/.libs/
moses/src/Makefile
moses/src/Makefile.in
scripts/ems/biconcor/biconcor
scripts/release-exclude
scripts/training/cmert-0.5/mert
scripts/training/compact-rule-table/tools/compactify
scripts/training/eppex/counter
scripts/training/eppex/eppex
scripts/training/lexical-reordering/score
scripts/training/memscore/memscore
scripts/training/mbr/mbr
scripts/training/phrase-extract/consolidate
scripts/training/phrase-extract/consolidate-direct
scripts/training/phrase-extract/consolidate-reverse
scripts/training/phrase-extract/extract
scripts/training/phrase-extract/extract-lex
scripts/training/phrase-extract/extract-rules
scripts/training/phrase-extract/relax-parse
scripts/training/phrase-extract/score
scripts/training/phrase-extract/statistics
scripts/training/symal/symal
scripts/release-exclude
scripts/training/eppex/counter
scripts/training/eppex/eppex
scripts/training/lexical-reordering/score
scripts/training/memscore/memscore
scripts/training/phrase-extract/consolidate
scripts/training/phrase-extract/consolidate-direct
scripts/training/phrase-extract/consolidate-reverse
scripts/training/phrase-extract/extract-lex
scripts/training/phrase-extract/extract-rules
scripts/training/phrase-extract/relax-parse
scripts/training/phrase-extract/statistics
stamp-h1
CreateOnDisk/src/CreateOnDiskPt
.libs
kenlm/query
libtool
m4/lt*
misc/queryPhraseTable
moses-chart-cmd/src/moses_chart
moses-cmd/src/checkplf
moses-cmd/src/lmbrgrid
regression-testing/moses-reg-test-data-*
unittest/moses_test
ltmain.sh
