*.o
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.log
config.status
configure
misc/.deps
misc/Makefile
misc/Makefile.in
misc/processLexicalTable
misc/processPhraseTable
misc/queryLexicalTable
moses-cmd/src/.deps
moses-cmd/src/Makefile
moses-cmd/src/Makefile.in
moses-cmd/src/moses
moses/src/.deps
moses/src/Makefile
moses/src/Makefile.in
moses/src/libmoses.a
stamp-h1
josiah/josiah
josiah/.deps
josiah/m1
scripts/Makefile
moses-release.tar.gz
release/
scripts-20090213-0027/
scripts/training/cmert-0.5/mert
scripts/training/mbr/mbr
scripts/training/phrase-extract/extract
scripts/training/phrase-extract/score
scripts/training/symal/symal

