# the tmp directory
MCC_TEMPDIR="/tmp/"

# where logs are saved
MCC_LOGDIR="/home/cruise/"

# where moses gets checked out, tested etc.
MCC_WORKDIR="/home/cruise/work/"

# repository that will be checked out
MCC_GITREPO="https://github.com/moses-smt/mosesdecoder.git"

# arguments passed to Moses configure
MCC_CONFIGURE_ARGS=" --with-srilm=/path/to/srilm --with-irstlm=/path/to/irstlm "

# list of branches to be checked
MCC_SCAN_BRANCHES="master"

# regression test data archive (optional, this is the default)
MCC_REGTEST_ARCHIVE="http://www.statmt.org/moses/reg-testing/moses-reg-test-data-8.tgz"

