# the tmp directory
MCC_TEMPDIR="/tmp/"

# where logs are saved
MCC_LOGDIR="/home/ales/mtm6/moses/cruise-control/"

# where moses gets checked out, tested etc.
MCC_WORKDIR="/home/ales/mtm6/moses/cruise-control/work/"

# repository that will be checked out, must be a local directory (for now?)
MCC_GITREPO="git://mosesdecoder.git.sourceforge.net/gitroot/mosesdecoder/mosesdecoder"

# arguments passed to Moses configure
MCC_CONFIGURE_ARGS=" --with-srilm=/home/ales/mtm6/srilm/ "

# list of branches to be checked
MCC_SCAN_BRANCHES="master"
