#Anything in this file, followed by a period (and an upper-case word), does NOT indicate an end-of-sentence marker.

#common exceptions
# Rs
ర
# Rs
ూ
# Mr
శ్రీ

#others


#phonetics
# A
ఎ
# B
బి
# C
సి
# D
డి
# E
ఇ
# F
ఎఫ్
# G
జి
# H
హెచ్‌
# I
ఐ
# J
జె
# K
కె
# L
ఎల్
# M
ఎం
ఎమ్
# N
ఎన్
# O
ఓ
# P
పి
# Q
క్యూ
# R
ఆర్
# S
ఎస్
# T
టి
# U
యు
# V
వి
# W
డబ్ల్యూ
# X
ఎక్స్
# Y
వై
# Z
జెడ్

#consonants

